<!-- ブロック表示用マクロ定義 -->

{% macro render_block_content(block) %}
    {% if block.block_type.type_name == 'text' %}
        {% include 'blocks/text_block.html' %}
    {% elif block.block_type.type_name == 'image' %}
        {% include 'blocks/image_block.html' %}
    {% elif block.block_type.type_name == 'featured_image' %}
        {% include 'blocks/featured_image_block.html' %}
    {% elif block.block_type.type_name == 'sns_embed' %}
        {% include 'blocks/sns_embed_block.html' %}
    {% elif block.block_type.type_name == 'external_article' %}
        {% include 'blocks/external_article_block.html' %}
    {% else %}
        <!-- 未対応のブロックタイプ -->
        <div class="alert alert-warning">
            <i class="fa fa-exclamation-triangle me-2"></i>
            未対応のブロックタイプ: {{ block.block_type.type_name }}
        </div>
    {% endif %}
{% endmacro %}